body {
text-align: center;
}

.container {
max-width: 1200px;
}

.clearfix {
    background-color: black;
    width: 350px;
    height: 100px;
    display: inline-block;
    margin: 15px;
}


.clearfix::after {
    content: '';
    clear:both;
    display: block;
}


header {
text-align: center;
}


h1 {
    font-family: Fredoka;
    color: #e53170;
    text-align: center;
}

p {
    font-family: Fredoka;
    font-weight: 500;
    color: white;
    text-align: left;
    line-height: 10px;
}


h2 {
    font-family: Fredoka;
    font-size: 18px;
    color: white;
    display: inline;
}

img {
    width: 100px;
    float: left;
    max-width: 100%;
    
}

.email {
    color:rgb(0, 136, 255);
}