* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.clearfix {

    background-color: black;
    width: 350px;
    height: 150px;
    display: inline-block;
}


.clearfix::after {
    content: '';
    clear:both;
    display: block;
}


header {
text-align: center;

}


h1 {
    font-family: Fredoka;
    color: #e53170;
    text-align: center;
}

p {
    font-family: Fredoka;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}


h2 {
    font-family: Fredoka;
    font-size: 18px;
    color: white;
}

img {
    width: 100px;
    float: left;
    max-width: 100%;
}

